@font-face {
  font-family: 'Open Sans';
  src: url('/OpenSans-VariableFont_wdth,wght.ttf');
  font-display: swap;
}

:root {
  font-family: 'Open Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* var */
  --background-color: #202020;
  --secondary-background-color: #2a2a2a;
  --text-color: rgba(255,255,255, 0.87);
  --border-color: #fefefe;
  --border-hover-color: #64edff;
}

a {
  font-weight: 500;
  color: #64ff8d;
  text-underline-offset: 5px;
}
a:hover {
  color: #60f253;
}

body {
  transition: all 0.5s;
  background-color: var(--background-color);
  margin: 0;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
    --secondary-background-color: #efefef;
    --border-color: #0a0a0a;
    --border-hover-color: red;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
